{% extends '../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h1 data-behaviour="A" data-btn="data-btn">Hello</h1>
  <span id="c"></span>
{% endblock %}
