{% extends '../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h1 data-behaviour="B" data-btn="data-btn">Page 1</h1>
{% endblock %}
