{% extends '../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h1 data-behaviour="D" data-btn="data-btn">Page 3</h1>
{% endblock %}
