{% extends '../../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h1 data-behaviour="A" data-btn="data-btn">B</h1>
  <p>
    <a href="/test/test/">Back</a>
  </p>
{% endblock %}
