{% extends '../../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h4 data-behaviour="A" data-btn="data-btn">Test</h4>
  <p>
    <a href="/test/a">Read A</a>
  </p>
  <p>
    <a href="/test/b">Read B</a>
  </p>
  <p>
    <a href="/test/c">Read B</a>
  </p>

{% endblock %}
