{% extends '../../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h1 data-behaviour="A" data-btn="data-btn">Test</h1>
  <p>
    <a href="/test/test/a">Read A</a>
  </p>
  <p>
    <a href="/test/test/a">Read B</a>
  </p>
  <p>
    <a href="/test/test/a">Read B</a>
  </p>

{% endblock %}
