{% extends '../../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h1 data-behaviour="A" data-btn="data-btn">Blog</h1>
  <p>
    <a href="/blog/post">Read more</a>
  </p>
{% endblock %}
