{% extends '../../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h4 data-btn="data-btn">Blog</h4>
  <p>
    <a href="/blog/post/">Post</a>
  </p>
{% endblock %}
