{% extends '../../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h1 data-behaviour="A" data-btn="data-btn">Post</h1>
  <p>
    <a href="/blog/sparrow/test">Read more</a>
  </p>

{% endblock %}
