{% extends '../../../wrapper/_layout.twig' %}

{% block critical_css %}
  <!-- build:critical-->
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <h4 data-btn="data-btn">Blog Post</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta cupiditate rem neque officia nulla officiis odit minima ducimus cumque id voluptatem ipsam expedita quo esse provident quaerat reprehenderit, laboriosam eos! Asperiores porro repudiandae assumenda minima, quibusdam ipsa excepturi ut nesciunt officiis amet quaerat, debitis totam numquam inventore! Nam pariatur tempore minima, labore quidem ut ullam ea. Natus voluptas architecto explicabo nemo ab sint aliquam, laudantium illo vel blanditiis maiores voluptate ad sed! Illum ratione suscipit aut! Provident voluptatum officiis explicabo nam eligendi, sequi consequatur sit animi. Repellendus voluptates aliquid consequatur, doloribus quis quibusdam recusandae aut quod inventore atque ullam odit dignissimos placeat saepe repellat eum, praesentium officiis quos omnis. Iure quam reiciendis nesciunt, in assumenda, unde aperiam deleniti odio aliquid laboriosam, qui commodi exercitationem atque blanditiis? Ducimus saepe itaque qui, repudiandae vitae, nostrum laudantium numquam harum quasi, eaque asperiores tempora possimus hic reprehenderit? Ipsam laudantium magni illum voluptas, necessitatibus saepe placeat reiciendis quis deleniti autem recusandae dolorum cum iure culpa id officiis quod voluptatum eveniet! Cupiditate expedita officia accusantium numquam, eligendi illum et sint error quae non eos quam temporibus laborum ratione eveniet aspernatur laudantium totam dolor? Delectus praesentium aspernatur debitis, quisquam earum blanditiis ipsum voluptatum nostrum odio, nisi perferendis.
  </p>
  <small>
    <a href="/blog">Back</a>
  </small>
{% endblock %}
